{% extends "base.html" %}
{% block title %}用户资料页面{% endblock %}
{% block main %}

    <div align="center">
        <h4>用户 {{ user.username }} 你好，你可以在此处修改你的头像</h4>
    </div>

    <hr>
    <div align="center">
         <form  method="post" action="{{ url_for('.avatar_add')}} " enctype="multipart/form-data">
            <input type="file" name="avatar">
            <button type="submit">上传头像</button>
        </form>
    </div>
    <br>
    <br>
    <hr>
    <div align="center">
        <h5>当前头像:</h5>
        <img src="{{ user.image }} " height="200" width="200">
    </div>
{% endblock %}